.bg-gradient-orange{
    background: linear-gradient(to bottom right, rgb(199, 56, 0), rgb(253, 101, 41));
}
.bg-gradient-gray{
    background: linear-gradient(to right, rgb(31, 31, 31), rgb(32, 30, 30));
}
.bg-orange{
    background-color: rgb(253, 89, 24);
}

/* for change progress bar colors */
.color-orange{
    color: rgb(253, 89, 24);
}

.color-white{
    color: white;
}

.color-light-green{
    color: greenyellow
}