@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --font-base: 1rem;
    
    --font-size-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
    --font-size-sm: clamp(0.875rem, 0.8rem + 0.4vw, 1rem);
    --font-size-md: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
    --font-size-lg: clamp(1.25rem, 1.05rem + 1vw, 1.75rem);
    --font-size-xl: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
    --font-size-2xl: clamp(2rem, 1.5rem + 2.5vw, 3.5rem);
    --font-size-3xl: clamp(2.5rem, 1.8rem + 3.5vw, 4.5rem);

    --color-base: rgb(10, 10, 10);
    --accent-fade-color: linear-gradient(to bottom right, rgb(199, 56, 0), rgb(253, 101, 41));
    --secondary-fade-color: linear-gradient(to right, rgb(31, 31, 31), rgb(32, 30, 30));
    --secondary-color: rgba(31, 31, 31,1);
    --completed-color: rgb(111, 243, 107);
    --accent-color: rgb(253, 89, 24);
    --inactive-color: rgb(155, 147, 147);
    --main-theme-text-color: white;

    --step-size: 2rem;
    --progress-width: calc((var(--steps) - 1)/ var(--steps) * 100%);
    --form-active-color: greenyellow;
    --input-color: rgb(20,20,20);
}
/* ----- global styles--- */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-size: var(--font-base); 
}
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font: inherit;
    color: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
}
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}
data{
    font-family: "Bricolage Grotesque", sans-serif;
}

body{
    background-color: var(--color-base);
}

main{
    padding: 2rem 6rem;
}

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(32, 30, 30, 0.3);
    padding: 2rem 6rem;
}

/* ----- header styles ---- */

.header_link{
    display: flex;
    align-items: center;
}
.header_link h1{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--font-size-xl);
    display: inline;
    color:var(--main-theme-text-color);
    margin-inline-start: 0.5em;
}

.btn_primary{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: clamp(0.7rem, 1vw,1rem) clamp(0.7rem, 2vw,2rem);
    border-radius: 4rem;
    gap: clamp(0.2rem, 0.5vw, 0.5rem);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: 1px solid rgba(146, 146, 146, 0.2);
    font-size: var(--font-size-sm);
    transition: all 0.3s ease;
    background-color: var(--accent-color);
}

.icon {
    width:20px;
    height: 20px;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.btn_primary:hover{
    transform:scale(1.02);
}
   /* -----------new goal modal window */
.new_goal_modal{
    font-family: "Inter", sans-serif;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 1000;
    inset:0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.new_goal_modal.active{
    display: flex;   
}
.progress_form{
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 1rem;
    width: min(600px, 80%);
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

.progress_form h2{
    font-size: var(--font-size-xl);
    text-align: center;
    margin-bottom: 1rem;
    color: var(--main-theme-text-color);
}
.progress_form_container{
    position: relative;
}
.progress_form_container::before{
    content:'';
    height: 0.25rem;
    width:var(--progress-width);
    background-color: var(--inactive-color);
    position: absolute;
    top: calc(var(--step-size)/2);
    left:50%;
    translate: -50% -50%;
}
.progress_form_container ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    counter-reset: step-number;
    position: relative;
    z-index: 3;
}
.progress_form_container li{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--inactive-color);
    flex:1;
    transition: 0.3s linear 0.3s;
    font-size: var(--font-size-sm);
}
.progress_form_container li:where(.done, .current){
    color: var(--form-active-color);
}
.progress_form_container li.current::before{
    background-color: var(--form-active-color);
    box-shadow: 0 0 0 3px rgba(173, 255, 47, 0.45);
    font-size: var(--font-size-sm);
}
.progress_form_container li.done::before{
    background-color: var(--form-active-color);
    font-size: var(--font-size-sm);
}
.progress_form_container li::before{
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--step-size);
    height: var(--step-size);
    border-radius: 50%;
    counter-increment: step-number;
    content: counter(step-number);
    
    color: var(--secondary-color);
    background-color:  var(--inactive-color);

    transition: 0.3s linear 0.3s;
}
.progress_form_progress{
    content:'';
    height: 0.25rem;
    width: var(--progress-width);
    background-color: var(--form-active-color);
    position: absolute;
    top: calc(var(--step-size)/2);
    left:50%;
    transform: scaleX(0);
    translate: -50% -50%;
    transform-origin: left;
    transition: all 0.3s ease;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.controls button{
    flex:1;
}

.btn_secondary{
    color: var(--main-theme-text-color);
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    border: 2px solid var(--form-active-color);

    border-radius: 1rem;
    font-size: var(--font-size-sm);

    transition: all 0.3s ease;
}
.btn_secondary:hover{
    background-color: var(--form-active-color);
    color: var(--secondary-color);
}
.btn_secondary:focus-visible{
    background-color: var(--form-active-color);
    color: var(--secondary-color);
}
.btn_secondary[type="submit"]{
    border: 2px solid var(--accent-color);
}
.btn_secondary[type="submit"]:hover{
    background-color: var(--accent-color);
}
.btn_secondary[type="submit"]:focus-visible{
    background-color: var(--accent-color);
}

.form_steps_container{
    display: flex;
    margin-top: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 3rem;
}

.form_step{
    position: relative;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    height: fit-content;
    gap:1rem;
    transition: all 0.3s ease;
    opacity: 0;
}
.form_step.current{
    opacity: 1;
    pointer-events: auto;
}
.form_step[inert] {
    pointer-events: none;
}

.form_step label{
    margin-bottom: 0.5rem;
}
.form_step input[type="text"],
.form_step input[type="date"],
.form_step input[type="number"],
.form_step select,
.form_step textarea {
    border: none;
    background-color: var(--input-color);
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 6px;
    font-size: var(--font-size-sm);
    resize: none;
    color: white;
}
.form_step input:focus-visible,
.form_step select:focus-visible,
.form_step textarea:focus-visible{
    outline: 2px solid var(--form-active-color);
}

.step_control{
    display: flex;
    flex-direction: column;       
    color:white;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-sm); 
}

.step_control input[type="range"] {
    appearance: none;
    margin-top: 2rem;
    width: 100%;
    height: 8px;
    border-radius: 0.75rem;
    background: linear-gradient(90deg, var(--accent-color) 0%, var(--input-color) 0%);
    transition: all 0.3s ease;
    cursor: pointer;
}
.step_control input[type="range"]:active{
    transform: scale(1.05);
}
.step_control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:1.5rem;
    height:1.5rem;
    background-color: var(--accent-color);
    border-radius: 50%;
}
.step_control input[type="range"]::-moz-range-thumb{
    width:1.5rem;
    height:1.5rem;
    background-color: var(--accent-color);
    border-radius: 50%;
}
/* ------ user statistics style ----- */
.user_statistics > :nth-child(1){
    grid-area: b1;
    background: var(--accent-fade-color);
    color:var(--main-theme-text-color);
    cursor:pointer;
}
.user_statistics > :nth-child(1) data{
    color: var(--main-theme-text-color);
}
.user_statistics > :nth-child(2){
    grid-area: b2;
}
.user_statistics > :nth-child(3){
    grid-area: b3;
   
}
.user_statistics > :nth-child(3) data{
    color: var(--completed-color);
}
.user_statistics > :nth-child(4){
    grid-area: b4;
}
.user_statistics{
    display: grid;
    gap:1.2rem;
    grid-template-columns: repeat(4, 1fr);   
    grid-template-areas: 
    "b1 b1 b2 b3"
    "b4 b4 b4 b4";
    grid-template-rows: clamp(10rem, 20vw, 13rem);
    margin-bottom: 2rem;
}

.stat_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid rgba(146, 146, 146, 0.2);
    padding: clamp(1rem, 2vw, 2rem);
    background: var(--secondary-color);
}
.stat_card.active{
    background: var(--accent-fade-color);
    color:var(--main-theme-text-color);
    cursor:pointer;
}
.stat_card span{
    color: var(--main-theme-text-color);
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-lg);
}
.stat_card > data {
    font-size: var(--font-size-2xl);
    font-weight: 600;
    color: var(--accent-color);
}
.stat_card h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--main-theme-text-color);
    font-size: var(--font-size-lg);
}

.stat_card progress{
    width: 100%;
    margin-block: 0.5rem;
    height: 0.75rem;
}
.stat_card progress::-webkit-progress-bar {
    background-color: rgba(63, 63, 63, 0.5);
    border-radius: 1rem;
}
.stat_card progress::-webkit-progress-value {
    background-color: var(--accent-color); 
    border-radius: 1rem;
}
.stat_card.active progress::-webkit-progress-bar {
    background-color: rgba(27, 27, 27, 0.5);
}
.stat_card.active progress::-webkit-progress-value {
    background-color: white; 
}
.stat_card progress.completed::-webkit-progress-value {
    background-color: var(--completed-color); 
}

.goal_stats{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
}
.stat_card.active .goal_stats span{
    color: var(--main-theme-text-color);
}
.goal_stats span{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    color: var(--accent-color);
    font-size: var(--font-size-2xl);
}
.goal_stats span.completed{
    color: var(--completed-color);
}
.goal_stats span.not_started{
    color: var(--inactive-color);
}
.goal_stats data{
    color: var(--main-theme-text-color);
    font-weight: 300;
    font-family: "Inter", sans-serif;
}
.goal_stats .created_date{
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap:0.5rem;
    color: var(--inactive-color);
    font-family: "Inter", sans-serif;
}
.goal_stats .created_date::before{
    content: "";
    width:0.25rem;
    height: 0.25rem;
    background-color: var(--inactive-color);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.stat_card.active .goal_stats .created_date{
    color: var(--main-theme-text-color);
}
.stat_card.active .goal_stats .created_date::before{
    background-color: orange;
}
/* -----------user goals --------- */
.user_goals{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    margin-top:2rem;
}
.goal_group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1rem;
}

.goal_group .stat_card{
    cursor: pointer;
    transition: all 0.3s ease;
}

.goal_group .stat_card:hover{
    transform: scale(1.02);
}
.goal_group.normal {
    grid-template-areas:
        "ug1 ug1 ug2"
        "ug3 ug4 ug2";
}
.goal_group.normal > :nth-child(1) {
    grid-area: ug1;
}

.goal_group.normal > :nth-child(2) {
    grid-area: ug2;
}

.goal_group.normal > :nth-child(3) {
    grid-area: ug3;
}

.goal_group.normal > :nth-child(4) {
    grid-area: ug4;
}

.goal_group.mirrored {
    grid-template-areas:
        "ugm2 ugm1 ugm1"
        "ugm2 ugm3 ugm4";
}

.goal_group.mirrored > :nth-child(1) {
    grid-area: ugm1;
}

.goal_group.mirrored > :nth-child(2) {
    grid-area: ugm2;
}

.goal_group.mirrored > :nth-child(3) {
    grid-area: ugm3;
}

.goal_group.mirrored > :nth-child(4) {
    grid-area: ugm4;
}

/* -------------- monthly stats --------  */

.yearly_stats{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
}
.monthly_spendings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.monthly_spendings > data {
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--inactive-color);
}
.monthly_spendings > span{
    font-size:var(--font-size-md);
}
.progress_container{
    width:clamp(2rem, 10vw, 6rem);
    height:clamp(7rem, 15vw,12.5rem);
    display: flex;
    align-items: flex-end;
}
.monthly_spendings_progress_bar{
    width:100%;
    background-color: var(--accent-color);
    border-radius: 10px;
}

/* ------section header ----- */
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section_header h2{
    font-size: var(--font-size-lg);
    color: var(--main-theme-text-color);
    font-family: "Inter", sans-serif;
}


/* ---------- search bar ----------  */
.search_icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-theme-text-color);
    pointer-events: none;
    margin: 0;
}

.search{
    display: flex; 
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    border: 1px solid rgba(146, 146, 146, 0.2);
    background-color: var(--secondary-color);
    backdrop-filter: blur(0px);
    
    width: 48px;
    height: 48px;
    border-radius: 4rem;
    
    margin-left: 1rem;

    transition: width 0.4s cubic-bezier(0.22, 1, 0.36, 1),
        border-radius 0.3s ease,
        backdrop-filter 0.5s ease,
        background-color 0.5s ease-in,
        background-color 0.7s ease-out;
}

.search_input{
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    opacity: 0;
    transition:
        width 0.6s ease-in, 
        width 0.2s ease-out,
        opacity 0.5s ease-in;
    color: var(--main-theme-text-color);
    padding-right: 1rem;
}

.search.expanded{
    width: clamp(8rem, 15vw, 20rem) !important;
    cursor: default;
    background-color: rgba(31,31,31,0.52);
    backdrop-filter: blur(20px);
} 

.search.expanded input{
    width: 80%;
    opacity: 1;
} 
.pressed{
    animation: Press 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
@keyframes Press {
    0% { 
        transform: scale(1) translateY(0); 
    }
    25% { 
        transform: scale(0.92) translateY(4px);
    }
    50% { 
        transform: scale(0.97) translateY(0); 
    }
    65% { 
        transform: scale(1.03) translateY(-6px); 
    }
    80% { 
        transform: scale(0.99) translateY(0); 
    }
    100% { 
        transform: scale(1) translateY(0); 
    }
}

/* --------------- sort by list ----------- */

.sort_btn {
    position: relative;
}

.sort_window {
    top:0;
    right: 0;
    position: absolute;
    z-index:4;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Inter", sans-serif;
    background-color: var(--secondary-color);
    backdrop-filter: blur(0px);
    cursor: pointer;
    border-radius: 1.2rem;
    border: 1px solid rgba(146, 146, 146, 0.2);

    transition: 
        width 0.5s cubic-bezier(0.22, 1, 0.36, 1),
        height 0.5s cubic-bezier(0.22, 1, 0.36, 1),
        border-radius 0.3s ease,
        backdrop-filter 0.5s ease,
        background-color 0.5s ease-in,
        background-color 0.7s ease-out;
    overflow: hidden;
    height: 48px;
    width: clamp(44px, 3rem + 7vw, 7rem);
}

.sort_window.open {
    width: clamp(12rem, 26vw,13.75rem); 
    height: clamp(13rem, 26vw,13.75rem);
    background-color: rgba(31,31,31,0.52);
    backdrop-filter: blur(20px);
    cursor: default;
}

.sort_window_head {
    width: clamp(44px, 3rem + 7vw, 7rem);
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: clamp(0.2rem, 0.7vw,0.5rem);
    font-size: var(--font-size-xs);
    font-weight: 500;
    color:var(--main-theme-text-color);
    white-space: nowrap;
    line-height: 1;
}

.open .icon {
    transform: rotate(180deg);
}

.sort_list {
    width: 100%;
    padding: 0 1.25rem;
    opacity: 0;
    transform: translateY(-8px);
    transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);
    pointer-events: none;
}

.open .sort_list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    transition-delay: 0.15s;
}

.opt {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
    font-size: var(--font-size-xs);
    color:var(--main-theme-text-color);
}

.opt:hover { 
    opacity: 0.6; 
}
.opt input {
    display: none; 
}

.dot {
    width: 1.2rem; 
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid rgba(155,147,147,0.2);
    transition: all 0.3s;
}

.opt input:checked + .dot {
    border-color: var(--accent-color);
    background: var(--accent-color);
    box-shadow: inset 0 0 0 3px rgba(31,31,31,0.72);
}


/* -------------- adaptive screen ---------- */
@media(max-width: 992px){
    .user_statistics{
        display: grid;
        gap:1.2rem;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: clamp(10rem, 20vw, 13rem) clamp(10rem, 20vw, 13rem);  
        grid-template-areas: 
        "b1 b1"
        "b2 b3"
        "b4 b4";
    }
    .yearly_stats :nth-child(n+7):nth-child(-n+12) {
        display: none;
    }
    .goal_group{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 250px);
    }
    .goal_group.normal {
        grid-template-areas:
        "ug1 ug1"
        "ug2 ug3"
        "ug4 ug4";
    }
    .goal_group.mirrored {
        grid-template-areas:
            "ugm1 ugm1"
            "ugm2 ugm3" 
            "ugm4 ugm4";
    }
}

@media (max-width: 576px) 
{
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80vw;
        padding: 2rem 0;
    }
    /* ------------ header styles --------- */
    header{
        display: flex;
        justify-content: space-between;
        padding: 0;
        width:80vw;
        margin-inline: auto;
        margin-block-start: 2rem;
        border:none;
        
    }
    .header_link > h1{
        display: none;
    }

    /* ------------------ section header------------------ */
    .section_header{
        width: 100%;
    }
    .search{
        margin:0;
    }
    .sort_window{
        width:48px;
        height:48px;
        border-radius: 50%;
    }
    .sort_window.open{
        border-radius: 1.2rem;
    }
    .sort_window_head > span{
        display: none;
    }
    .sort_window_head{
        width: 48px;
    }
    /* ----------------- user_statistics ----------- */
    
    .user_statistics{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%; */

        display: grid;
        width:100%;
        gap:1.2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "b1"
        "b2"
        "b3"
        "b4";
        grid-template-rows: clamp(8rem, 20vw, 13rem) clamp(8rem, 20vw, 13rem) clamp(8rem, 20vw, 13rem);
    }


    .yearly_stats :nth-child(n+7):nth-child(-n+12) {
        display: none;
    }



    /* ------------- user goals -------------- */
    .goal_group{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 250px);
    }
    .goal_group.normal {
        grid-template-areas:
        "ug1"
        "ug2"
        "ug3" 
        "ug4";
    }
    .goal_group.mirrored {
        grid-template-areas:
            "ugm1"
            "ugm2" 
            "ugm3" 
            "ugm4";
    }
    /* ----------- new goal form ------------ */
    .form_step{
        padding: 0;
    }
    .progress_form_container li{
        font-size: 0;
    }
}